
{% extends "layout.html" %}



{% block content %}
<div>
<h1>Data Scientist ( Virtual/ Work from Home)</h1>
<h2>Axim Technologies</h2>

<ol>
	<li>Mine and analyze data from company databases to drive optimization and improvement of product development, marketing techniques and business strategies.</li>
	
	<li>Assess the effectiveness and accuracy of new data sources and data gathering techniques.</li>
	
	<li>Experience using statistical computer languages (R, Python, SLQ, etc.) to manipulate data and draw insights from large data sets 	Knowledge of a variety of machine learning techniques (clustering, decision tree learning, artificial neural networks, etc.) and their real-world advantages/drawbacks.</li>
	
	<li>Knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests and proper usage, etc.) and experience with applications.</li>
	
	<li>Experience in Big Data technologies – Spark, Hadoop (Preferred).</li>

	<li>Experience working with Databases and SQL Queries (Preferred).</li>
</ol>

<p>Job Location : - Vizag, Indore, Mysore, Lucknow, Patna, Jaipur, Nagpur, Nashik, Mangalore</p>

<p>Employment Type Contract/Permanent </p>


<a href="https://www.naukri.com/job-listings-data-scientist-virtual-work-from-home-axim-technologies-nagpur-lucknow-mangalore-mysore-indore-patna-visakhapatnam-vizag-jaipur-3-to-5-years-150720902571?src=jobsearchDesk&sid=15948944456315986&xp=13&px=1">https://www.naukri.com/job-listings-data-scientist-virtual-work-from-home-axim-technologies-nagpur-lucknow-mangalore-mysore-indore-patna-visakhapatnam-vizag-jaipur-3-to-5-years-150720902571?src=jobsearchDesk&sid=15948944456315986&xp=13&px=1</a>

</div>
{% endblock content %}


