{% extends "layout.html" %}



{% block content %}
<div>
		<h1>CM1</h1>
<h2>Job Description</h2>
<h2>Major responsibilities</h2>
<ul>
	<li>- Use Machine Learning, Deep Learning, Reinforcement Learning, statistical techniques to create scalable solutions for business problems.</li>
	<li>- Analyze and extract relevant information from large amounts of both structured and unstructured data to help automate and optimize key processes</li>
	<li>- Work closely with software engineering teams to model real-time experiments, implementations and new feature creations</li>
	<li>- Work closely with business staff to optimize various business operations</li>
	<li>- Establish scalable, efficient, automated processes for large scale data analyses, model development, model validation and model implementation</li>
	<li>- Track general business activity and provide clear, compelling management reporting on a regular basis</li>
	<li>- Research and implement novel machine learning and statistical approaches.</li>
</ul>
<h2>Basic Qualifications :</h2>

<ul>
	<li>- PhD in CS Machine Learning, Statistics, or in a highly quantitative field</li>
	<li>- Experience with deep learning and sequence modeling</li>
	<li>- 8+ years of hands-on experience in machine learning and large data analysis</li>
	<li>- 8+ years of experience using Python, Java, C++, SQL in a Linux/UNIX environment</li>
	<li>- Proven record of delivering results</li>
	<li>- Strong communication and data presentation skills</li>
	<li>- Strong problem solving ability</li>
</ul>
<h2>Ram</h2>

Mobile : +91 98 1845 4080 / 98 6860 9864
</div>
{% endblock content %}