{% extends "layout.html" %}



{% block content %}
<div>
		<h1>CM2</h1>
<h2>Job Description</h2>
<p>Essential Responsibilities: This role requires proven expertise in medical image analysis demonstrated through relevant publications and addressing different clinical problems. In particular the individual is expected to develop and/or reuse existing algorithms in 3D image registration, image segmentation, quantification and classification for CT. The person is expected to possess strong background in image analysis with proven track record evidenced through high quality publications. He/She needs to have exceptional implementation and programming skills in C++.</p>

<p>Desired Characteristics: Candidates should have a strong mathematics orientation, demonstrably good C/C++ skills, and familiarity of open source tool kits such as ITK or OpenCV. Knowledge of MATLAB is a plus. Experience in CUDA with the view of being able to accelerate algorithms on the GPU is a plus.</p>

<h2>Skill/Job Requirements :</h2>

<ol>
<li> Masters or PhD in CS/EE or related degree with experience in medical image visualization and processing</li>
<li> Minimum of 10 years of related experience</li>
<li> Excellent C++ Programming Skills</li>
<li> Extensive experience with design and development of image analysis solutions</li>
<li> Knowledge and experience of OOP</li>
<li> Experience with ITK and OpenCV is a plus</li>
<li> Experience with CUDA is a plus</li>
<li> Ability to quickly develop a prototype while thinking about future capabilities and modularity of developed software components</li>
<li> Detail oriented and able to develop and push a single solution to completion</li>
<li> Analytical thinker with the ability to get to the roots of a problem</li>
<li> Interested in Development and Rapid Prototyping efforts</li>
</ol>
<h2>Ram</h2>
Mobile : +91 98 1845 4080 / 98 6860 9864
</div>
{% endblock content %}