{% extends "layout.html" %}



{% block content %}
<div>
	<h1>CM3</h1>
<h2>Job Description</h2>
Total Experience - 12 to 15 years

Data Science Experience : 5+ years

<h2>Must Have Skills :</h2>

- Good experience of EDA on ( for one role Commercial Data-Sets and for one Role Learning Datasets ) would be ideal

<h2>Strong experience in :</h2>

<li> Developing and deploying Machine Learning models in Python, R, SparkR, PySpark</li>
<li> SQL Queries - Joins, filters, nested queries, conditional queries</li>
<li> Should be good at developing jobs to read data from multiple formats - Excel, CSV, JSON, Text, and write to database tables</li>
<li> Experience in Spark ecosystem</li>
<li> Azure cloud services (experience of Databricks is ideal)</li>
<li> Knowledge of Data pipelines and Data processing pipelines</li>
<li> Very good Communication skills</li>

<h2>Good to Have</h2>
<li> Experience in Healthcare and Pharma domain</li>
<li> Experience in Data visualization</li>

<p>Location : Hyderabad</p>

<p>NOTE : Should be able to join in 7days</p>

<a href="https://www.hirist.com/j/tech-lead-data-scientist-machine-learning-deep-learning-11-15-yrs-599748.html?ref=adzuna&utm_source=adzuna&utm_medium=adzuna">https://www.hirist.com/j/tech-lead-data-scientist-machine-learning-deep-learning-11-15-yrs-599748.html?ref=adzuna&utm_source=adzuna&utm_medium=adzuna</a>
</div>
{% endblock content %}