{% extends "layout.html" %}



{% block content %}
<div style="padding-bottom: 5%;">

<h1>Banking - Machine Learning Engineer - Hyderabad</h1>

<ol>
<li>12 plus years of overall experience with 4+ years into Data/ML Engineering.</li>
<li>Understanding of and hands on Data Science/ML lifecycle management</li>
<li>Experience in Model Building and Model/Code Optimization</li>
<li>Expert programming skills in one or more of Python/Java/R, with an ability to pick up new languages and tools</li>
<li>Experience in working with models/APIs to deploy them using Flask/Django etc. as end-point inference or batch inference would be a great advantage</li>
<li>Creating data pipelines to engineer apps deployment across platforms and environments and working with ML pipelines is a plus - Familiarity with Jenkins and the likes</li>
<li>Good to have worked with Big Data and dealt with distributed systems with regards to scalability, fault-tolerance, cluster management etc.</li>
<li>Experience with Linux-based filesystems and processes, bash and command line</li>
<li>Familiarity with Cloud-based services like AWS, Azure, PCF</li>
<li>Having worked with Container-based deployments leveraging Docker/Kubernetes/OpenShift technologies would be an advantage</li>
</ol>
<a href="https://www.naukri.com/job-listings-banking-machine-learning-engineer-hyderabad-ifintalent-global-pvt-ltd-hyderabad-secunderabad-13-to-18-years-040220001734?src=simJobDeskACP&sid=15948981836604678&xp=2&px=1">https://www.naukri.com/job-listings-banking-machine-learning-engineer-hyderabad-ifintalent-global-pvt-ltd-hyderabad-secunderabad-13-to-18-years-040220001734?src=simJobDeskACP&sid=15948981836604678&xp=2&px=1</a>

</div>
{% endblock content %}