
{% extends "layout.html" %}



{% block content %}
<div style="padding-bottom: 5%;">
<h1>Senior Manager – Engineering</h1>

<h2>Job Description</h2>

<p>Indegene is a specialized healthcare solutions company with a unique blend of life science domain expertise and state-of-the-art technology capabilities. Headquartered in Bangalore, with offices across the world, Indegene is partner to most of the world’s Top 25 pharma companies helping transform their commercial and medical operations.</p>

<p>As life sciences companies embrace digital and omni-channel marketing for more personalized customer engagement, Indegene helps enable this shift by integrating commercial content development with deep data, analytics and campaign expertise.</p>

<p>Across brands and geographies, we help some of the world’s largest pharma companies drive consolidation and excellence in omni-channel customer experiences by integrating data operations, and advanced analytics into the design and personalization of customer campaigns and creation of digital content. This is enabled by bringing together deep analytics expertise and contemporary AI and Big Data technology to establish Global Centers of Excellence for Marketing Operations.</p>

<p>Further upstream in the pharma product lifecycle, we are helping companies to integrate multiple sources of clinical, safety and real world (electronic medical records, claims, wearables, etc.) data and perform nuanced, domain-specific analytics on them. By doing so, we are helping pharma and life sciences companies accelerate their clinical trials, detect safety signals and garner real world evidence to engage with external provider, patient and payor communities.</p>

<p>Indegene also has a proven track record of partnering with clinical, regulatory, safety and medical teams of life sciences companies (pharmaceutical, biotech and medical devices) to drive productivity, compliance, speed and global scale in content development. By customizing bleeding edge AI/NLP and Structured Content Authoring tools to automate the analysis and creation of medical content, we are helping companies reduce time to regulatory submission, streamline the development of medical communications and increase the throughput of their medical review processes.</p>

<p>Indegene is at the forefront of innovation to transform regulatory, medical and commercial operations and drive thought leadership in the journey from generation and analysis of data to creation of content to personalization of stakeholder experiences.</p>

<p>Indegene is looking for a talented professional to complement the team. The focus is on developing next generation applications using machine learning and other AI techniques to solve big problems in the enterprise life science space. Strong communication skills married with solid technical capabilities and an entrepreneurial mindset are a must for this position.</p>

<p>This person will be responsible for leading the development of solutions for client needs on technology, multiple POCs and hardening select new initiatives into commercial products and solutions. Additionally, this person will be highly interactive with the business and client stakeholders to better inform and direct the solutioning approach.</p>

<p>A talented team of engineers as well as subject matter experts will be part of the team reporting up to the Engineering Lead</p>

<h2>Technical Skills:</h2>
<ol>
    <li>Proficient in multiple software development languages including (but not limited to): Java and Python along with major front end frameworks such as React.js</li>
    <li>Developing, deploying, and maintaining SaaS or PaaS software products</li>
    <li>Agile method understanding</li>
    <li>Excellent understanding of machine learning techniques and algorithms</li>
    <li>Experience with Deep Learning toolkits (TensorFlow, PyTorch, Keras, etc)</li>
    <li>Data modeling and storage methods and technologies including relational and nosql databases.</li>
    <li>Familiarity with leveraging major IaaS providers (AWS, Azure, etc) and how to leverage in software application design</li>
    <li>Good applied statistics skills, such as distributions, statistical testing, regression, etc.</li>
</ol>

<h2>Management Skills:</h2>

<ol>
    <li>Excellent written and oral communication skills</li>
    <li>Excellent listener</li>
    <li>Staying abreast of new technologies and issues in the software-as-a-service industry, including current technologies, platforms, standards and methodologies</li>
    <li>Experience in a multi-product, multi-application development environment</li>
</ol>
<h2>Experience:</h2>
<ol>
    <li>5+ years of understanding business use cases and arriving at appropriate technical solutions</li>
    <li>8+ Years professional experience in Enterprise Software development roles demonstrating progressive knowledge and growth in responsibilities.</li>
    <li>Experienced in delivering products built on AWS or other cloud platforms.</li>
    <li>1+ Years in applied data science or machine learning</li>
</ol>

<a href="https://www.naukri.com/job-listings-senior-manager-engineering-indegene-private-limited-bengaluru-bangalore-5-to-10-years-160720000862?src=jobsearchDesk&sid=15948962235105880&xp=1&px=1">https://www.naukri.com/job-listings-senior-manager-engineering-indegene-private-limited-bengaluru-bangalore-5-to-10-years-160720000862?src=jobsearchDesk&sid=15948962235105880&xp=1&px=1</a>

</div>
{% endblock content %}