{% extends "layout.html" %}



{% block content %}
<div>
<h2>Job Description</h2>
Are you passionate about growing your Data Analytics or AI skills? We are looking for an energetic and hardworking Data Analytics research engineer to join our R&D team in Bangalore.
Our Research Group (Advanced Data Management) is part of Business Analytics and Monitoring (BAM) Technology Field of Corporate Technology Research. Headquartered in Munich, we are a distributed team of around 250 researchers, data scientists and architects distributed across the globe. 
We strive to seek sophisticated problems in various domains ranging from mobility, industry, energy, and buildings to smart cities by applying methods and principles of data analytics and artificial intelligence. We are looking for equally passionate techies to join us in this exciting journey of finding innovative solutions to some non-trivial industrial problems.

<h2>What part will you play?</h2>

<ol>
<li>• Analyze large, complex data sets by developing advanced machine learning and deep learning pipelines based on business initiatives.</li>
<li>• You will have the ability to build theoretical models as well as build innovative, practical and robust real world solutions for problems in Oil & Gas, Manufacturing and Process Industries.</li>
<li>• You will demonstrate outstanding ability to drive innovation and research in the form of patents and publishing papers at top-tier conferences/journals.</li>
</ol>
<h2>We don’t need superheroes, just super minds.</h2>

<ol>
<li>• As the successful candidate, you will hold a degree in Chemical engineering, Mechanical engineering, or computer engineering or other related degree from an accredited university, with hands-on experience of at least 1+ years in solving complex problems and driving meaningful insights</li>
<li>• A sophisticated degree in operations research, applied statistics, data mining, machine learning, physics, or a related quantitative subject area is an asset.</li>
<li>• Experience in proven deep technical expertise in designing and programming large scale data driven solutions using any of the high-level programming languages viz. Java/Python/C++/Matlab</li>
<li>• Strong background in data science including statistical analysis and modeling, data mining, machine learning, uncertainty analysis, time series forecasting, working with both structured and unstructured data.</li>
</ol>

<h2>Make your mark in our exciting world at Siemens.</h2>

We’re Siemens. A collection of over 370,000 minds building the future, one day at a time in over 200 countries. We're dedicated to equality, and we encourage applications that reflect the diversity of the communities we work in. All employment decisions at Siemens are based on qualifications, merit and business need. Bring your curiosity and imagination and help us shape tomorrow.
We look forward to know you. 

<h2>Find out more about Siemens careers at: www.siemens.com/careers</h2>


<p>Organization: Corporate Technology</p>

<p>Company: Siemens Technology and Services Private Limited</p>

<p>Experience Level: Experienced Professional</p>

<p>Job Type: Full-time</p>
</div>
{% endblock content %}