


{% extends "layout.html" %}



{% block content %}
<div style="padding-bottom: 5%;">
<h1>Data Scientist/Data Science</h1>
<h2>SKYLEAF </h2>

<h2>Role Designation- Data Scientist</h2>
<p>What will help you succeed in this role</p>
<ol>
	<li>BS/MS in Computer Science or equivalent from a premier institute</li>
	<li>15 + years of strong design/development experience in building massively large scale distributed internet systems and products</li>
	<li>5+ years of continuous experience in software solution architecture</li>
	<li>Knowledge of machine learning, statistics, optimization or related field</li>
	<li>Experience with R, Python, Matlab is required</li>
	<li>Experience building machine learning application in areas like time series forecasting, classification models, clustering models, multivariate regression models etc</li>
	<li>Experience in AWS and Microsoft Azure Stack in the Cloud with focus on Data Factory, Data Bricks, BLOBs, Data Lake Storage, ML Studio, Azure Analysis Services, Azure Data Warehouse, Power BI etc</li>
	<li>Experience working with large data sets and distributed computing tools a plus (Map/Reduce, Hadoop, Hive, Spark, Python, R, Gurobi, MySQL, etc.)</li>
	<li>Excellent written and verbal communication skills along with strong desire to work in cross functional teams</li>
	<li>Consumer products experience in an online and/or Agri Food environment is preferred</li>
	<li>Possess strong leadership skills and exhibit creative thinking to be able to come up with inventive solutions to solve business challenges</li>
	<li>Provide thought leadership while keeping up with industry trends and disseminating information across the organization</li>
	<li>Strong Technical leadership of advanced analytics teams and vendors</li>
	<li>Extensive experience collaborating with Enterprise Architects and infrastructure engineers to identify, design, and implement highly complex, end-to-end solutions</li>
	<li>Cultivates networking opportunities within the organization</li>
	<li>Broad range of business and IT experiences; Has achieved technical and/or business certification(s).</li>
</ol>
<h2>What Will you Do</h2>
<ol>
	<li>The Data Scientist must understand medium/complex data types (integrate, manipulate, prepare), know advanced analytics (appropriate techniques, interpret data and diagnose models, meet business requirements), and focus on the business outcomes (goals, constraints, decisions while communicating outcomes via presentations).</li>
	<li>Develop models and algorithms that drive innovation throughout the organization. This may include marketing, supply chain, inventory planning and deployment, network planning, order routing, and order fulfillment and delivery and Multispectral image analysis</li>
	<li>Conduct advanced statistical analysis to provide actionable insights, identify trends, and measure performance Build learning systems that monitor data flows and react to changes in customer preferences, network constraints, and business objectives.</li>
	<li>Collaborate with engineers to implement and deploy scalable solutions. Provide thought leadership by researching best practices, conducting experiments, and collaborating with industry leaders.</li>
	<li>Partners as a bridge between the business and the IT team to make sure that the solution fits within the data management principals.</li>
	<li>Coordinates data science implementations while leading design variances based upon business needs while ensuring artefacts and repositories are documented.</li>
	<li>Manages engagements with vendors as they relate to evaluation, design and delivery of business capabilities.</li>
	<li>Contributes to the evaluation and selection of software product standards.</li>
	<li>Leader in industry representation, policy formation, User Groups, and strategic direction</li>
	<li>Mentors others to complete Continuous Improvement (CI) initiatives; consults and shares knowledge across org; awareness of industry trends.</li>
</ol>
<h2>Having one or more of the following is a plus</h2>
<ol>
	<li>Experience with delivery of a SaaS product</li>
	<li>Strong understanding of micro-services and related architectures</li>
	<li>Knowledge of containerization technologies such as Docker and Kubernetes</li>
	<li>Knowledge of tools like Ansible, Puppet and Jenkins Pipeline</li>
	<li>Experience Managing Large RDBMS</li>
</ol>

<a href="https://www.naukri.com/job-listings-data-scientist-data-science-skyleaf-consultants-mumbai-8-to-13-years-160720001588?src=jobsearchDesk&sid=15948944456315986&xp=6&px=1">https://www.naukri.com/job-listings-data-scientist-data-science-skyleaf-consultants-mumbai-8-to-13-years-160720001588?src=jobsearchDesk&sid=15948944456315986&xp=6&px=1</a>

</div>
{% endblock content %}


