{% extends "layout.html" %}



{% block content %}
<div style="padding-bottom: 5%;">
<h2>Job description</h2>

<p>We are looking for applicants with a strong background in Analytics and Data mining (Web, Social and Big data), Machine Learning, Pattern Recognition, Natural Language Processing, Computational Linguistics, Statistical Modelling, Inferencing, Information Retrieval, Large Scale Distributed Systems, Cloud Computing, Econometrics, Quantitative Marketing, Applied Game Theory, Mechanism Design, Operations Research, Optimization, Human Computer Interaction and Information Visualization. Applicants with a background in other quantitative areas are also encouraged to apply.</p>

<p>We are looking for someone who can create and implement AI solutions. If you have built a product like IBM WATSON in the past and not just used WATSON to build applications, this could be the perfect role for you.</p>

<p>All successful candidates are expected to dive deep into problem areas of Zycus’ interest and invent technology solutions to not only advance the current products, but also to generate new product options that can strategically advantage the organization.</p>

<h2>Skills:</h2>

<ol>
    <li>Experience in predictive modelling and predictive software development</li>
    <li>Skilled at Java, C++, Perl/Python (or similar scripting languages)</li>
    <li>Experience in using R, Matlab, or any other statistical software</li>
    <li>Experience in mentoring junior team members, and guiding them on machine learning and data modelling applications</li>
    <li>Strong communication and data presentation skills</li>
    <li>Classification (svm, decision tree, random forest, neural network)</li>
    <li>Regression (linear, polynomial, logistic, etc)</li>
    <li>Classical Optimization(gradient descent, newton raphson, etc)</li>
    <li>Graph theory (network analytics)</li>
    <li>Heuristic Optimisation (genetic algorithm, swarm theory)</li>
    <li>Deep learning (lstm, convolutional nn, recurrent nn)</li>
</ol>

<h2>Roles & Responsibilities:</h2>

    <li>Act as a technical thought leader in collaboration with the analytics leadership team, helping to set the strategy and standards for Machine Learning and advanced analytics</li>
    <li>Work with senior leaders from all functions to explore opportunities for using advance analytics</li>
    <li>Provide technical leadership, coaching, and mentoring to talented data scientists and analytics professionals</li>
    <li>Guide data scientists in the use of advanced statistical, machine learning, and artificial intelligence methodologies</li>
    <li>Guide the work of other Machine learning team members to provide support and assistance, while also ensuring quality</li>

<h2>Must Have:</h2>

    <li>Total experience: 14+ years</li>
    <li>The ideal candidate must have proven expertise in Artificial Intelligence (including deep learning algorithms), Machine Learning and/or NLP</li>
    <li>The candidate must also have expertise in programming traditional machine learning algorithms, algorithm design & usage</li>
    <li>Programming expertise on Python or R</li>
    <li>Preferred experience with large data sets & distributed computing in Hadoop ecosystem</li>
    <li>Strong problem-solving skills</li>
    <li>Fluency with databases</li>

<a href="https://www.naukri.com/job-listings-director-machine-learning-zycus-infotech-pvt-ltd-bengaluru-bangalore-14-to-20-years-160720000674?src=jobsearchDesk&sid=15948962235105880&xp=3&px=1">https://www.naukri.com/job-listings-director-machine-learning-zycus-infotech-pvt-ltd-bengaluru-bangalore-14-to-20-years-160720000674?src=jobsearchDesk&sid=15948962235105880&xp=3&px=1</a>

</div>
{% endblock content %}