{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Algorithm tuning</h1>
Algorithm parameter tuning is an important step for improving algorithm performance right before present-
ing results or preparing a system for production. In this chapter you discovered algorithm parameter tuning
and two methods that you can use right now in Python and scikit-learn to improve your algorithm results:
 Grid Search Parameter Tuning
 Random Search Parameter Tuning
    </div>
{% endblock content %}