{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Automate Machine Learning Work</h1>
ows with pipe lines
In this chapter you discovered the diculties of data leakage in applied machine learning. You discovered
the Pipeline utilities in Python scikit-learn and how they can be used to automate standard applied machine
learning work ows. You learned how to use Pipelines in two important use cases:
 Data preparation and modeling constrained to each fold of the cross validation procedure.
 Feature extraction and feature union constrained to each fold of the cross validation procedure.
    </div>
{% endblock content %}