{% extends "layout.html" %}

{% block content %}
<div>
    <h1>BOOK</h1>
   



<h2>Compare Machine Learning Algos</h2>
In this chapter you discovered how to evaluate multiple dierent machine learning algorithms on a dataset in
Python with scikit-learn. You learned how to both use the same test harness to evaluate the algorithms and
how to summarize the results both numerically and using a box and whisker plot. You can use this recipe as
a template for evaluating multiple algorithms on your own problems.



<h2>Save and Load Machine learing models</h2>
In this chapter you discovered how to persist your machine learning algorithms in Python with scikit-learn.
You learned two techniques that you can use:
 The pickle API for serializing standard Python objects.
 The Joblib API for eciently serializing Python objects with NumPy arrays.



<h2>Types of machine learning problems</h2>
 all numbers in CSV data
 text and numbers in CSV data.
 complete text in CSV data.
12.15.1 All numbers
if a CSV is containing all the numbers in it is easy to apply the machine learning algorithms.
12.15.2 Text and numbers
if a CSV is conaitiaining text and numbers it is not straight forward to use the machine learning algorithm
directly. We may have to process the data to change the text to its equivalent numbers and ensure that the
data is represented correctly.
12.15.3 All text
This is very peculiar scenario where every this is text and some equivalent process is to be gured out to
handle this data.
12.16 Projects
12.16.1 Project 1
</div>
{% endblock content %}