{% extends "layout.html" %}

{% block content %}
<h1>Natural Language Processing</h1>
NLP is very prominent domain which has wide applications in multiple domains which has good uses of text processing and other information extraction. 

<p>First the question and Answer problem can be solved using following steps </p>

<p><h3>Short Questions answering strategy</h3></p>
<ol>
	<li>Reading the passage</li>
	<li>Understanding the question</li>
	<li>Searching for the answer from the paragraph </li>
	<li>Framing the answer for the question</li>	
</ol>
<p><h3>Medium Question answering strategy</h3></p>
Medium question answer model should differ from the above model to store more context to answer better way. Today's attention model will have how of storage of the context.



<p><h3>Long Question answering strategy</h3></p>





<p><h3>READING THE PASSAGE</h3></p> 
<ul style="list-style-type:disc;">
<li><b>What should be the summary once it has read the passage </b></li>
	<ol>
	<li>It should create the summary</li> 
	<li>It should be able to re-write the summary of what it has read </li>
	<li>It should be able to understand the emmotions which are present in the text </li>
	<li>What are those emmotions </li>
	<li>This is more of the centiment analysis (Which can be used here)</li>
	<li>Based on the emmotions it can answer the question in more sensible way </li>
</ol>

<br>
<li><b>What is the model which can read the text today </b></li>

<br>
<li><b>If the text which is read is too lengthy, obivoulsy it will not be able to rememeber all the context </b></li>
	<ol>
	<li>How should it </li>
	</ol>
</ul>
<br>
<p><h3>UNDERSTANDING THE QUESTION </h3></p>

<ul>
<li>Ideally designed, Reading the paragraph model should be able to still work for reading the question and understand it </li>
</ul>



<p><h3>MODEL CREATION</h3></p>

<ul>
	<li>First let us look into the model which can caption the image </li>
	<li>To understand where this model fails </li>
</ul>
<br>


{% endblock content %}