{% extends "layout.html" %}

{% block content %}
<div>
    <h1>CLUSTERING </h1>
    <p>Clustering is a concept of organizing the data on a line, 2 D map or graph or may be 3 D. This would help
us to know how the data is organized and what we can derive about the data.Information about the all the
algorithms which are mentioned below. One of the sample use case of each of them. Identify what best
fits the use-case and why. What are the limitations of each of the method. How to improve the algorithm
to make it better an computationally effective. Also see if there are any ways in which nature applies such
algorithms and if so how will it do. Below are the list of the Clustering Algorithms. Also always understand
the mathematical representation of the algorithms which are simple and easy persecive, so that complex
algorithm can be easily understood.</p>
<ol>
<li> K- Means</li>
<li> Affinity Propogation</li>
<li> Mean-shift</li>
<li> Spectral Clustering</li>
<li> Ward Hierarchial Clustering</li>
<li> Agglomerative clustering</li>
<li> DBSCAN</li>
<li> Gaussian Mixtures</li>
<li> Brich</li>
</ol>    


<h3>Affinity Propogation</h3>
<h3>Mean-shift</h3>
<h3>Spectral Clustering</h3>
<h3>Ward Hierarchial Clustering</h3>
<p>Hierarchial clustering is often associated with heat maps. Heat maps are where columns represent dierent
samples and the rows represent measurements from different genes. Red means high expressino of gene and
blue or purple means lower expression of gene.</p>
<h3>Agglomerative clustering</h3>
<h3>DBSCAN</h3>
<h3>Gaussian Mixtures</h3>
<h3>Brich</h3>


<h2> Usecase</h2>
<h2> Example</h2>
<h2> Code</h2>
<h2> Links </h2>
<p>Following section has all the links from which the above content is been understood and presnted.</p>
<ul>
<li><a href="https://towardsdatascience.com/deep-learning-with-python-703e26853820">1. https://towardsdatascience.com/deep-learning-with-python-703e26853820</a></li>
</ul>
<h2> Conclusion </h2>
</div>
{% endblock content %}