{% extends "layout.html" %}

{% block content %}
<div>
<h1>Improve performance with Ensembles</h1>
In this chapter you discovered ensemble machine learning algorithms for improving the performance of models
on your problems. You learned about:
 Bagging Ensembles including Bagged Decision Trees, Random Forest and Extra Trees.
 Boosting Ensembles including AdaBoost and Stochastic Gradient Boosting.
 Voting Ensembles for averaging the predictions for any arbitrary models.    
    </div>
{% endblock content %}