{% extends "layout.html" %}

{% block content %}
<div>
<h1>Feature selection for machine learning</h1>
In this chapter you discovered feature selection for preparing machine learning data in Python with scikit-
learn. You learned about 4 dierent automatic feature selection techniques:
 Univariate Selection.
 Recursive Feature Elimination.
 Principle Component Analysis.
 Feature Importance.
If there are irrelevant features or partially relevant features that may impact the machine learning model
performance.
Univariate Selection: I am trying to do this for the market data, its gives me error in telling that input
must be non-negative numbers. With little changes in the data reading from CSV, now I am able to run the
univariat selection on the market data. What will this really lead to.
Recursive Feature Elimination:

    </div>
{% endblock content %}