{% extends "layout.html" %}

{% block content %}
<div>
    <h1>INTRODUCTOIN</h1>
    <p>This page provides the introduction of this site</p>
    <p>This document provides the details of all models which are generally used as part of the machine learning
domain.In general machine learning is all about making predictions and classications.Original data is training data which is used to create the model and can be used to perform the predictions.
        Fitting the training data well and making poor predections is called as "Bias-Variance Trade o".</p>
</div>
{% endblock content %}