{% extends "layout.html" %}

{% block content %}
<div>
	<h1>IMAGE CLASSIFICATION </h1>

	<!-- <div class="container">
	<div style="border: 1px solid gainsboro; border-radius:20px;">
	    <form style="width: 80%; margin: auto; " method="POST" action="">
	        {{ lrform.hidden_tag() }}
	        <fieldset class="form-group">
	            <legend class="border-bottom mb-4">LOGISTIC REGRESSION INPUT PATH</legend>
	            <div class="form-group">
	            	 {{ lrform.lrippath.label(class="form-control-label")  }}
	            	  {{ lrform.lrippath(class="form-control form-control-lg" )  }}
	            </div>
	             <div class="form-group">
	            	 {{ lrform.lrregression.label(class="form-control-label")  }}
	            	  {{ lrform.lrregression(class="form-control form-control-lg" )  }}
	            </div>
	            <div class="form-group">
	    			{{ lrform.lrsubmit(class="btn btn-outline-info") }}
				</div>


				</fieldset>
	    </form>
	</div>
	</div> -->

	  <script>
    $(document).ready(function() {
       $('#retrieve').click(function(){
           $.ajax({
           url: "{{ url_for ('get_img') }}",
           type: "GET",
           success: function(response) {
           	//document.write(response);
           	console.log("response " + response);
               $("#myimg").attr('src', '/static/' + response);
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
  </script>
<script>
    $(document).ready(function() {
       $('#box_image').click(function(){
           $.ajax({
           url: "{{ url_for ('box_img') }}",
           type: "GET",
           success: function(response) {
           	//document.write(response);
           	console.log('/static/box_image/'+ response);
               $("#myboximg").attr('src', '/static/box_image/' + response);
          },
          error: function(xhr) {
            //Do Something to handle error
         }
         });
       });
    });
</script>
<br>
<br>
<div class="container">
	<div style="border: 1px ; border-radius:20px;">
		<legend class="border-bottom mb-4"><h3><b>IMAGE CLASSIFICATION SECTION</b></h3></legend>
	</div>
</div>
<div class="container">
	<table border= "0" style="width: 100%;">
		<tr>
			<td valign= "top" style="width: 30%;" >
				<div style="border: 1px solid gainsboro; border-radius:20px;  height: 532px ">
					<form style="width: 80%; margin: auto;" method="post" action="/handleUpload" enctype="multipart/form-data">
						<fieldset class="form-group">
							<div class="form-group">
								<legend class="border-bottom mb-4">BROWSE THE FILE </legend>
								Choose the file: <input type="file" name="photo"/><BR>
			        			<input type="submit" value="Upload"/>
			        			<!-- <h1>{{user_image}}</h1> -->
			        			<img src="{{user_image}}" alt="User Image" width="100" height="100">
			        		</div>
		        		</fieldset>
	        		</form>
	        	</div>
			</td>
			<td style="width: 70%;">
				<div style="border: 1px solid gainsboro; border-radius:20px; height: 532px">
					<form style="width: 80%; margin: auto;">
						<fieldset class="form-group">
							<div class="form-group" >
		        				<legend class="border-bottom mb-4">OBJECT IDENTIFICATION</legend>
								<div class="form-group">This section is for Object Identification &nbsp;&nbsp; <button class ="btn btn-primary" type='button' id ='retrieve'>Analyze</button></div>
								<img src="" width="400" height="400" alt="" id="myimg" />
							</div>
						</fieldset>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
<br>
<br>
<div class="container">
	<div style="border: 1px ; border-radius:20px;">
		<legend class="border-bottom mb-4"><h3><b>IMAGE NAMING IN IMAGE</b></h3></legend>
	</div>
</div>

<div class="container">	
	<table border= "0" style="width: 100%;">
		<tr>
			<td valign= "top" style="width: 30%;" >
				<div style="border: 1px solid gainsboro; border-radius:20px;  height: 532px ">
					<form style="width: 80%; margin: auto;" method="post" action="/newhandleUpload" enctype="multipart/form-data">
						<fieldset class="form-group">
							<div class="form-group">
								<legend class="border-bottom mb-4">BROWSE THE FILE </legend>
								Choose the file: <input type="file" name="photo"/><BR>
			                	<input type="submit" value="Upload"/>
			                	<!-- <h1>{{user_image}}</h1> -->
			                	<img src="{{box_user_image}}" alt="User Image" width="100" height="100">
		                	</div>
		                </fieldset>
	                </form>
                </div>
            </td>
			<td style="width: 70%;">
				<div style="border: 1px solid gainsboro; border-radius:20px; height: 532px">
					<form style="width: 80%; margin: auto;">
						<fieldset class="form-group">
			                <div class="form-group">
            			    	<legend class="border-bottom mb-4">OBJECT IDENTIFICATION</legend>
								<div class="form-group">This section is for Object Identification &nbsp;&nbsp; <button class ="btn btn-primary" type='button' id ='box_image'>Analyze</button></div>
    							<img src="" width="400" height="400" id="myboximg" />
    						</div>
						</fieldset>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
<br>
<br>
<div class="container">
	<div style="border: 1px ; border-radius:20px;">
		<legend class="border-bottom mb-4"><h3><b>SEGMENTATION OF THE IMAGE</b></h3></legend>
	</div>
</div>

<div class="container">	
	<table border= "0" style="width: 100%;">
		<tr>
			<td valign= "top" style="width: 30%;" >
				<div style="border: 1px solid gainsboro; border-radius:20px;  height: 532px ">
					<form style="width: 80%; margin: auto;" method="post" action="/newhandleUpload" enctype="multipart/form-data">
						<fieldset class="form-group">
							<div class="form-group">
								<legend class="border-bottom mb-4">BROWSE THE FILE </legend>
								Choose the file: <input type="file" name="photo"/><BR>
			                	<input type="submit" value="Upload"/>
			                	<!-- <h1>{{user_image}}</h1> -->
			                	<img src="{{box_user_image}}" alt="User Image" width="100" height="100">
		                	</div>
		                </fieldset>
	                </form>
                </div>
            </td>
			<td style="width: 70%;">
				<div style="border: 1px solid gainsboro; border-radius:20px; height: 532px">
					<form style="width: 80%; margin: auto;">
						<fieldset class="form-group">
			                <div class="form-group">
            			    	<legend class="border-bottom mb-4">OBJECT IDENTIFICATION</legend>
								<div class="form-group">This section is for Object Identification &nbsp;&nbsp; <button class ="btn btn-primary" type='button' id ='box_image'>Analyze</button></div>
    							<img src="" width="400" height="400" id="myboximg" />
    						</div>
						</fieldset>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
		

	<!--</tr>
	<tr> 
	<div class="container">	
		<div style="border: 1px solid gainsboro; border-radius:20px;">
	<fieldset class="form-group">
	<legend class="border-bottom mb-4">OBJECT IDENTIFICATION</legend>
	<div class="form-group">This section is for Object Identification</div>
    <button type='button' id ='retrieve'>Analyze</button>
    <img src="" id="myimg" />
    </fieldset>
		</div>
	</div>
	</tr>
</table>-->


	<!--
	<div class="gallery">
    <img src="{{user_image}}" alt="User Image" width="600" height="400">
	<div class="desc">Add a description of the image here</div>-->
</div>
<!--
<div class="container">
	<div style="border: 1px solid gainsboro; border-radius:20px;">
		<input type="radio" name="options" id="option1" value="option1"> Option1 </input><br>
		<input type="radio" name="options" id="option2" value="option2"> Option2 </input><br>
		<input type="radio" name="options" id="option3" value="option3"> Option3 </input><br>
	</div>
</div>
-->
<br>
<br>
<br>
<!--<div class="container">
<div style="border: 1px solid gainsboro; border-radius:20px;">
<select name="colour" method="GET" action="/">
  <option value="{{colours[0]}}" selected>{{colours[0]}}</option>
  {% for colour in colours[1:] %}
    <option value="{{colour}}">{{colour}}</option>
  {% endfor %}
</select>
</div>-->

<br>
<br>
<br>

<br>
<br>
<script>

	var source = new EventSource("/progress");
	source.onmessage = function(event) {
		$('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
		$('.progress-bar-label').text(event.data+'%');

		if(event.data == 100){
			source.close()
		}
	}
	</script>
		<div class="progress" style="width: 50%; margin: 50px;">
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span class="progress-bar-label">0%</span>
		</div>
	</div>




<div class="container">
	<div style="border: 1px solid gainsboro; border-radius:20px;">
	    <form style="width: 80%; margin: auto; " method="POST" action="">
	        {{ obj_identify.hidden_tag() }}
	        <fieldset class="form-group">
	            <legend class="border-bottom mb-4">OBJECT IDENTIFICATION</legend>
	            <div class="form-group">
	    			{{ obj_identify.object_identify_submit(class="btn btn-outline-info") }}
				</div>

				 <img src="{{result_image}}" alt="User Image" width="600" height="400">
				</fieldset>
	    </form>
	</div>
	</div>

{% endblock content %}