{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Performance metrics</h1>
In this chapter you discovered metrics that you can use to evaluate your machine learning algorithms. You
learned about three classication metrics: Accuracy, Logarithmic Loss and Area Under ROC Curve. You also
learned about two convenience methods for classication prediction results: the Confusion Matrix and the
Classication Report. Finally, you also learned about three metrics for regression problems: Mean Absolute
Error, Mean Squared Error and R2.
    </div>
{% endblock content %}