{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Possible Problems to apply AI</h1>

<p>Data is the crucial entity for the AI to really come with some analysis and predictions. This section will
discuss on the data and possible domains where AI can be applied leading to what results. Also there will
be eort made to create such data and possibilites from where this can be obtained.</p>
<p>Also there will study to understand the data and its relevance to the prediction made. Also to see if the data
is really covering the complete domain.If not what can be other possible areas which can lead us to proper
prediction.</p>
<p>This way we can understand which models are good in data and good in predictions. How balanced is the
model. How best it can used, more important thing of what if takes to build the best models. Based on this
assessment we can understand where what ts like which kind if model will be suitable for what problem.</p>


<h2>WOP : Wealth Of a Person</h2>
<p>How is wealth of a person varying across the time. Considering this for his major earnings duration. If we
look at this data for large number of induviduals in a given conutry. Similarly we get this data for people
across the country this will react the country growth.</p>
<p>Is there a data set corresponding to this info.	</p>
<p>Ideally business people whose income varies at lot without any standard pattern can help in understanding
the information.</p>
<ul>
	<li>Predictions made</li>
	<li>Fields of Dataset</li>
</ul>

<h2>COG : Cost Of the Good</h2>
<p>Lets take example of the comodity or the Vegetable. Its price variation during the Season. Also across the
years. Also across dierent places from where it is manufactured or grown to the price details till it is sold
to the end customer or consumed. This can give the detailed insights of the health of the business and its
echo system around it.</p>
<p>Some of the examples:</p>
<ul>
	<li>1) Price of Tomato or any vegetable.</li>
	<li>2) Prices of Cars.</li>
	<li>3) Prices of Computers.</li>
</ul>

<h3>Predictions made</h3>
<ul>
	<li>1. Business Viability in conutry</li>
	<li>2. Identify gaps in the Business echo system for a given comodity</li>
	<li>3. Avoiding the possible failure steps or business models.</li>
	<li>4. Business to country growth.</li>
</ul>
<h3>Fields of the Dataset</h3>


<h2>DAH : Diet And Health Information</h2>
<p>Typically food consumption in a household can really become an important aspect of understanding the
possible diseases which family will come across. Also there will be the possibility to understand the Vitamin
and minerals which a Family is getting. Also there can be better tool which can suggest what is the pos-
sible best next meal considering dierent aspects like season and availability and Vitamin suppliment analysis.</p>
<h3>Predictions made</h3>
<h3>Fields of Dataset</h3>

<h2>GWC : Global Warming and it Causes</h2>
<p>If we have mechanism to get the data related to the amount of the driving a person does and his car and its
aging details, we understand how much is the contribution to the global warming. That way we can really get
to every aspect like Electricity usage, construction, machinary running, Road trac, Population, farming,
waste. Getting into each of these areas and relating them exactly how much is present contribution we will
be in shape to understand how long the natural resource will persist.</p>
<h3>Predictions made</h3>
<h3>Fields of Dataset</h3>

<h2>COD : Causes Of Disease</h2>
<p>If we understand the Disease and its causes in terms of the Food, life style, local geographic consditions (like
urban or rural), also geography (which country they belong to), age, male/female, Also body nature, family
histroy and some of the related info this can lead to exact identication of when can disease occur for a given
induvidual.</p>
<h3>Predictions made</h3>
<h3>Fields of the Dataset</h3>


<h2>CAR : City And Road Transport</h2>
<p>We can understand how the Road transport is helping a given city. Considering the distance of movement,
mode of movement, Fuel consumed in movement, time of the movement, amout of people moved in that
mode, Revenue of the city, growth of the mode of transport, amount of Congestion caused by this mode.</p>
<h3>Predictions made</h3>
<h3>Fields of the Dataset</h3>


<h2>TUG : Time Utilization and alround Growth of induvidual</h2>
<p>In general how and what aspects the person is utilizing his time. Also this leading what kind of growth
in his life. Time spent for the Profession 1, Time spent for Learning, Time spent for Family, Time spent
for entertainment, Time spent for travelling, Time spent for alternate Profession (may be 2), similarly time
spent for other prefessions if any, Decision making rate and amount.</p>
<p>How to gain this data and what can be any promising data source which already has some data in some or
the other form.</p>
<h3>Prediction made</h3>
<h3>Fields of the Dataset</h3>
<ul>
	<li>1) Time for Work.</li>
	<li>2) Time for Learning.</li>
	<li>3) Time for Family.</li>
	<li>4) Time for Entertainment.</li>
	<li>5) Time for Travelling.</li>
	<li>6) Time for Alternate Profession.</li>
	<li>7) Decision making rate and amount.</li>
	<li>8) Time for Health.</li>
</ul>

    
</div>
{% endblock content %}