{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Regression Algorithms</h1>
In this chapter you discovered how to spot-check machine learning algorithms for regression problems in
Python using scikit-learn. Specically, you learned about four linear machine learning algorithms: Linear
Regression, Ridge Regression, LASSO Linear Regression and Elastic Net Regression. You also learned about
three nonlinear algorithms: k-Nearest Neighbors, Classication and Regression Trees and Support Vector
Machines.
    </div>
{% endblock content %}