{% extends "layout.html" %}

{% block content %}
<div>
    <h1> REQUIREMENT ANALYSIS </h1>
    <div style="padding-right: 30px; padding-bottom: 5%;">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">S.NO</th>
            <th scope="col">Company</th>
            <th scope="col">Requirement</th>
            <th scope="col">Experience</th>
            <th scope="col">Status</th>
            <th scope="col">SKILLS</th>
            <th scope="col">DOMAIN</th>
            <th scope="col">SUMMARY</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Simens</td>
            <td><a href="{{ url_for('simens')}}">Simens</a></td>
            <td> 1+ years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>deep learning pipelines </li>
                    <li>theoretical models</li>
                    <li>Patents and publishing papers</li>
                    <li> degree in operations research,</li> 
                    <li>applied statistics,</li>
                    <li> data mining, </li>
                    <li>machine learning, </li>
                    <li>physics, or a related quantitative subject area</li>
                    <li>Java/Python/C++/Matlab</li>
                    <li>Strong background in data science including statistical analysis</li>
                    <li> modeling, data mining, machine learning, </li>
                    <li>uncertainty analysis, time series forecasting, </li>
                    <li>working with both structured and unstructured data</li>
                </ol>
            </td>
            <td>OIL & GAS</td>
            <td>DATA SCIENCE</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>CM1</td>
            <td><a href="{{ url_for('cm1')}}">CM1</a></td>
            <td>8+ years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>Machine Learning, </li>
                    <li>Deep Learning,  </li>
                    <li>Reinforcement Learning,  </li>
                    <li>statistical techniques </li>
                    <li>Analyze and extract relevant information from large amounts of both structured and unstructured</li>
                    <li>data analyses,</li>
                     <li>model development,</li> 
                    <li>model validation and </li>
                    <li>model implementation</li>
                    <li> Research and implement novel machine learning and statistical approaches</li>
                    <li>Python, </li>
                    <li>Java, </li>
                    <li>C++, </li>
                    <li>SQL in a Linux/UNIX environment</li>
                </ol>
            </td>
            <td>Machine Learning</td>
            <td>DATA SCIENCE</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>CM2</td>
            <td><a href="{{ url_for('cm2')}}">CM2</a></td>
            <td>10+ years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>medical image visualization and processing</li>
                    <li>C++ Programming Skills </li>
                    <li>Extensive experience with design and development of image analysis solutions  </li>
                    <li>Experience with ITK and OpenCV is a plus </li>
                    <li>Experience with CUDA is a plus</li>
                    <li>Ability to quickly develop a prototype </li>
                </ol>
            </td>
            <td>Medical Domain</td>
            <td>DATA SCIENCE</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>CM3</td>
            <td><a href="{{ url_for('cm3')}}">CM3</a></td>
            <td>12+ years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>Python, R, SparkR, PySpark</li>
                    <li>SQL Queries - Joins, filters, nested queries, conditional queries </li>
                    <li>read data from multiple formats - Excel, CSV, JSON, Text, and write to database tables  </li>
                    <li>Experience in Spark ecosystem </li>
                    <li>Azure cloud services (experience of Databricks is ideal)</li>
                    <li>Knowledge of Data pipelines and Data processing pipelines </li>
                    <li> Experience in Healthcare and Pharma domain</li>
                    <li> Experience in Data visualization</li>
                </ol>
            </td>
            <td>Health Care and Pharma</td>
            <td>DATA SCIENCE</td>
          </tr>
           <tr>
            <th scope="row">5</th>
            <td>AXIM</td>
            <td><a href="{{ url_for('axim')}}">AXIM</a></td>
            <td>3 - 5 years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>clustering, decision tree learning, artificial neural networks, etc.)</li>
                    <li>regression, properties of distributions, statistical tests and proper usage, etc.</li>
                    <li>Big Data technologies – Spark, Hadoop  </li>
                    <li>Databases and SQL Queries</li>
                </ol>
            </td>
            <td>Health Care and Pharma</td>
            <td>DATA SCIENCE</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>SKY LEAF</td>
            <td><a href="{{ url_for('skyleaf')}}">SKY LEAF</a></td>
            <td>15 + years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>machine learning, statistics, optimization or related field</li>
                    <li>R, Python, Matlab</li>
                    <li>time series forecasting, classification models, clustering models, multivariate regression models  </li>
                    <li>AWS and Microsoft Azure Stack in the Cloud with focus on Data Factory, Data Bricks, BLOBs, Data Lake Storage, ML Studio, Azure Analysis Services, Azure Data Warehouse, Power BI</li>
                    <li>large data sets and distributed computing tools a plus (Map/Reduce, Hadoop, Hive, Spark, Python, R, Gurobi, MySQL,</li>
                </ol>
            </td>
            <td>Agriculture</td>
            <td>DATA SCIENCE</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>INDEGENE</td>
            <td><a href="{{ url_for('indegene')}}">INDEGENE</a></td>
            <td>5 - 10 years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>Proficient in multiple software development languages including (but not limited to): Java and Python along with major front end frameworks such as React.js</li>
                    <li>Developing, deploying, and maintaining SaaS or PaaS software products</li>
                    <li>Agile method understanding</li>
                    <li>Excellent understanding of machine learning techniques and algorithms</li>
                    <li>Experience with Deep Learning toolkits (TensorFlow, PyTorch, Keras, etc)</li>
                    <li>Data modeling and storage methods and technologies including relational and nosql databases.</li>
                    <li>Familiarity with leveraging major IaaS providers (AWS, Azure, etc) and how to leverage in software application design</li>
                    <li>Good applied statistics skills, such as distributions, statistical testing, regression, etc.</li>
                </ol>
            </td>
            <td>Agriculture</td>
            <td>DATA SCIENCE</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>ZYCUS</td>
            <td><a href="{{ url_for('zycus')}}">ZYCUS</a></td>
            <td>14+ years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>Experience in predictive modelling and predictive software development</li>
                    <li>Skilled at Java, C++, Perl/Python (or similar scripting languages)</li>
                    <li>Experience in using R, Matlab, or any other statistical software</li>
                    <li>Experience in mentoring junior team members, and guiding them on machine learning and data modelling applications</li>
                    <li>Strong communication and data presentation skills</li>
                    <li><b>Classification </b>
                        <ol>
                            <li>svm,</li>
                            <li>decision tree,</li>
                            <li>random forest,</li>
                            <li>neural network</li>
                        </ol></li>
                    <li><b>Regression </b>
                        <ol>
                            <li>linear,</li>
                            <li>polynomial,</li>
                            <li>logistic</li>
                        </ol></li>
                    <li><b>Classical Optimization</b>
                        <ol>
                            <li>gradient descent,</li>
                            <li>newton raphson, </li>
                        </ol></li>
                    <li><b>Graph theory </b>
                        <ol>
                            <li>network analytics</li>
                        </ol></li>
                    <li><b>Heuristic Optimisation </b>
                        <ol>
                        <li>genetic algorithm,</li>
                        <li>swarm theory)</li>
                        </ol>  </li>
                    <li><b>Deep learning </b>
                        <ol>
                            <li>lstm,</li>
                            <li>convolutional nn</li>
                            <li>recurrent nn</li>
                        </ol>
                </ol>
            </td>
            <td>Agriculture</td>
            <td>DATA SCIENCE</td>
          </tr>
                 <tr>
            <th scope="row">9</th>
            <td>IFINTALENT</td>
            <td><a href="{{ url_for('ifintalent')}}">IFINTALENT</a></td>
            <td>12 years</td>
            <td>APPLIED</td>
            <td>
                <ol>
                    <li>12 plus years of overall experience with 4+ years into Data/ML Engineering.</li>
                    <li>Understanding of and hands on Data Science/ML lifecycle management</li>
                    <li>Experience in Model Building and Model/Code Optimization</li>
                    <li>Expert programming skills in one or more of Python/Java/R, with an ability to pick up new languages and tools</li>
                    <li>Experience in working with models/APIs to deploy them using Flask/Django etc. as end-point inference or batch inference would be a great advantage</li>
                    <li>Creating data pipelines to engineer apps deployment across platforms and environments and working with ML pipelines is a plus - Familiarity with Jenkins and the likes</li>
                    <li>Good to have worked with Big Data and dealt with distributed systems with regards to scalability, fault-tolerance, cluster management etc.</li>
                    <li>Experience with Linux-based filesystems and processes, bash and command line</li>
                    <li>Familiarity with Cloud-based services like AWS, Azure, PCF</li>
                    <li>Having worked with Container-based deployments leveraging Docker/Kubernetes/OpenShift technologies would be an advantage</li>
                </ol>
            </td>
            <td>Agriculture</td>
            <td>DATA SCIENCE</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}