{% extends "layout.html" %}

{% block content %}
<div>
<h1>Spot-Check classicatoin</h1>
In this chapter you discovered 6 machine learning algorithms that you can use to spot-check on your classi
cation problem in Python using scikit-learn. Specically, you learned how to spot-check two linear machine
learning algorithms: Logistic Regression and Linear Discriminant Analysis. You also learned how to spot-
check four nonlinear algorithms: k-Nearest Neighbors, Naive Bayes, Classication and Regression Trees and
Support Vector Machines.
    </div>
{% endblock content %}