{% extends "layout.html" %}

{% block content %}
<h1> TEXT GENERATION USING RNN </h1>

<p>This section describes the concept of writing a Shakespeare's Novel. The model is not excellent but inspite
of which it has performed following things correctly</p>
<p>Generally n-gram model is used for the next word prediction. Here I think today's algorithms are limiting to
the 3 or 4 gram based prediction. But I feel this should be variable which takes size between the last two dots.</p>

{% endblock content %}