{% extends "layout_new.html" %}


{% block content %}


<div style="padding-bottom: 2%;">
	<h2 style="font-weight: 800;">MATHEMATIS AND CODE FOR NEURON </h2><br><br>

	<div class="card" style="height: 100%; width: 90%; margin: auto; padding-bottom: 2%; padding-left: 2%;
	padding-right: 2%;padding-top: 2%;" >
	<!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
	<table style="width:100%; ">
		<tr>
			<td valign="top" style="width: 50%; ">
				<div style="PADDING-RIGHT: 3%;">	

					<h3><b>CNN - LAYERS</b></h3><hr><br> 
					<p>CNN is the best kind of neural network which is desgined up on the brains design and works mostly in that fashion</p>
					<img src="{{url_for('static', filename='images/simple_neuron.PNG')}}" alt="" align="middle" width="72%"
					height="100%"><br>

				</div>
			</td>
			<td valign="top">
				<div>
					<div style="height: 50%; " class = "vertical"></div> 
				</div>
			</td>
			<td style="width: 50%;  ">
				<div style="PADDING-RIGHT: 3%; PADDING-LEFT: 3%;">
					<h3><b>SIMPLE CODE </b></h3> <hr><br>
					Below is simple code snippet for the neuron explained
					<img src="{{url_for('static', filename='images/neuron_code.png')}}" alt="" align="middle" width="100%"
					height="100%"><br><br><br>
					<img src="{{url_for('static', filename='images/eq1.png')}}" alt="" align="middle" width="52%"
					height="100%"><br>
				</div>
			</td>
		</tr>
	</table>
</div>
</div>
{% endblock content %}