{% extends "layout_new.html" %}


{% block content %}


<div style="padding-bottom: 2%;">
	<h4><a href="{{url_for('cnn3')}}" style="float: right;padding-right: 7%;">PAGE 3</a> </h4>
	<h2 style="font-weight: 800;">MATHEMATICS AND CODE FOR NEURON </h2><br><br>

	<div class="card" style="height: 100%; width: 90%; margin: auto; padding-bottom: 2%; padding-left: 2%;
	padding-right: 2%;padding-top: 2%;" >
	<!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
	<table style="width:100%; ">
		<tr>
			<td valign="top" style="width: 50%; ">
				<div style="PADDING-RIGHT: 3%;">	

					<h3><b>NEURON EXPLAINED</b></h3><hr><br> 
					<p>A simple neuron function can be explained as shown below </p>
					<img src="{{url_for('static', filename='images/simple_neuron.PNG')}}" alt="" align="middle" width="72%"
					height="100%"><br>
					<p>Its the mulitplication of inputs and weights and sum with the bias will lead to the output from a neuron </p>
				</div>
			</td>
			<td valign="top">
				<div>
					<div style="height: 55%; " class = "vertical"></div> 
				</div>
			</td>
			<td style="width: 50%;  ">
				<div style="PADDING-RIGHT: 3%; PADDING-LEFT: 3%;">
					<h3><b>MATH & CODE </b></h3> <hr>
					<table style="width:100%; ">
						<tr>
							<td valign="top" style="width: 50%; ">
								<div>
									<h4><b>MATH</b></h4>
									<img src="{{url_for('static', filename='images/eq1.png')}}" alt="" align="middle" width="100%"
									height="100%"><br><br>
								</div>
							</td>
							<td valign="top">
								<div>
									<div style="height: 21%; " class = "vertical"></div> 
								</div>
							</td>
							<td valign="top">
								<div style="padding-left:10%">
									<p> can also be written as </p>
									<img src="{{url_for('static', filename='images/eq3.png')}}" alt="" align="middle" width="62%"
									height="100%"><br>
									<img src="{{url_for('static', filename='images/eq4.png')}}" alt="" align="middle" width="62%"
									height="100%"><br>
								</div>
							</td>
						</tr>
					</table><br><br>
					<h4><b>CODE</b><h4>
						<img src="{{url_for('static', filename='images/neuron_code.png')}}" alt="" align="middle" width="100%"
						height="100%">
					</div>
				</td>
			</tr>
		</table>
</div>
</div>
{% endblock content %}