{% extends "layout_new.html" %}


{% block content %}


<div style="padding-bottom: 2%;">
	<h4><a href="{{url_for('cnn4')}}" style="float: right;padding-right: 7%;">PAGE 4</a> </h4>
	<h2 style="font-weight: 800;">ARCHITETCURES OF CNN </h2><br><br>

	<div class="card" style="height: 100%; width: 90%; margin: auto; padding-bottom: 2%; padding-left: 2%;
	padding-right: 2%;padding-top: 2%;" >

	<table style="width:100%; ">
		<tr>
			<td valign="top" style="width: 50%; ">
				<div style="PADDING-RIGHT: 3%;">	
					<!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> -->
					<h3><b>CNN - ACTIVATION FUNCTIONS</b></h3> 
					<p>CNN is the best kind of neural network which is desgined up on the brains design and works mostly in that fashion</p>
					<img src="{{url_for('static', filename='images/level_2.PNG')}}" alt="" align="middle" width="60%"
					height="100%"><br>
				</div>

			</td>
			<td valign="top">
				<div>
					<div style="height: 50%; " class = "vertical"></div> 
				</div>
			</td>
			<td style="width: 50%;">
				<div style="PADDING-RIGHT: 3%; PADDING-LEFT: 3%;">
					<h3><b>MATHEMATICAL NEURON ARCHITECTURE</b></h3><hr><br>
				</div>
			</td>
		</tr>
	</table>

</div>
{% endblock content %}